@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 250, 252;
  --background-end-rgb: 247, 250, 252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 17, 24, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.timeline-card-content,
.timeline-card-content.active {
  background-color: #f3f4f6 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.dark .timeline-card-content,
.dark .timeline-card-content.active {
  background-color: #374151 !important;
}

.filter-dark-mode {
  filter: brightness(200%) contrast(120%);
}

.timeline-card-title {
  color: #67e8f9;
}

@keyframes slideInSmooth {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInSmooth {
  animation-name: slideInSmooth;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes copied {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #475569;
  }
  100% {
    background-color: transparent;
  }
}

.copied {
  animation: copied 1s ease-in-out;
}
